.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  linear-gradient(#121212,#212b46);
}

.title{
    font-size:85px;
    color: #fff;
}

.buttons{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 20px; 
}