.main-ticket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Faz com que o contêiner ocupe toda a altura da tela */
  padding: 20px;
}

/* Estilo para o título */
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para o filtro de estados */
.state-filter-container {
  margin-bottom: 20px;
}

.state-filter-container label {
  font-size: 16px;
  color: #333;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.state-filter-container input {
  margin-right: 5px;
}

/* Estilos para os filtros selecionados */
.state-filter-container input:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

/* Estilo para a lista de tickets, com rolagem vertical */
.ticket-list {
  width: 300px;  /* Largura fixa para a lista */
  height: 300px;  /* Altura fixa para a lista */
  overflow-y: auto;  /* Permite rolagem vertical */
  border: 1px solid #ccc;  /* Borda ao redor da lista */
  padding: 10px;  /* Espaçamento interno */
  background-color: #f9f9f9;  /* Cor de fundo */
  border-radius: 8px;  /* Bordas arredondadas */
  position: relative;
}

/* Estilo para cada item de ticket */
.ticket-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Remove a borda do último item */
.ticket-item:last-child {
  border-bottom: none;
}